<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to the task manager app!</h1>

<p>Already a member? Then login!</p>

<form action="/login-page" th:action="@{/login-page}" method="post">
    <input type="submit" value="Login">
</form>

<br>

<p>Don't have an account? Then create one!</p>

<form action="/signup-page" th:action="@{/signup-page}" method="post">
    <input type="submit" value="Sign up">
</form>

</body>
</html>