<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<h1>Login page</h1>

<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>

<form action="/task-screen-login" th:action="@{/task-screen-login}" method="post">
    <p>Email: </p> <input type="text" name="email">
    <p>Password: </p> <input type="password" name="password">

    <br> <br>
    <input type="submit" value="Login">
</form>

<br> <br>

<form action="/" th:action="@{/}" method="post">
    <input type="submit" value="Back">
</form>
</body>
</html>