<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<h1>Signup Page</h1>

<div th:if="${emailError}" class="error-message">
    <p th:text="${emailError}"></p>
</div>

<div th:if="${emailRegexError}" class="error-message">
    <p th:text="${emailRegexError}"></p>
</div>

<div th:if="${usernameError}" class="error-message">
    <p th:text="${usernameError}"></p>
</div>

<div th:if="${passwordError}" class="error-message">
    <p th:text="${passwordError}"></p>
</div>

<form action="/task-screen-signup" th:action="@{/task-screen-signup}" method="post">
    <p>Username: </p> <input type="text" name="username">
    <p>Email: </p> <input type="text" name="email">
    <p>Password: </p> <input type="password" name="password">
    <p>Password again: </p> <input type="password" name="passwordAgain">

    <br> <br>

    <input type="submit" value="Sign up">
</form>

<br> <br>

<form action="/" th:action="@{/}" method="post">
    <input type="submit" value="Back">
</form>
</body>
</html>