<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task Creation</title>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
</head>
<body>
  <h1>Task creation</h1>

  <form th:action="@{/add-task}" method="post">

    <p>Task description: <input type="text"></p>
    <p>Completed: <input type="checkbox"></p>

    <input type="submit" value="Add Task">

  </form>

  <br>

  <button onclick="goBack()">Cancel</button>

</body>
</html>