<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
<h1>Task list for <span th:text="${username}"></span></h1>

<table>
    <thead>
    <tr>
        <th>Task ID</th>
        <th>Task Description</th>
        <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskId}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td th:text="${task.isCompleted}"></td>
        <td>
            <a th:href="@{/edit-task(taskId=${task.taskId})}">Edit</a>
        </td>
        <td>
            <form action="/delete-task" th:action="@{/delete-task}" method="post">
                <input type="hidden" name="taskId" th:value="${task.taskId}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>

<form action="/create-task" th:action="@{/create-task}" method="get">
    <input type="hidden" name="userId" th:value="${userId}" />
    <input type="submit" value="Add Task">
</form>

<br>

<form action="/" th:action="@{/}" method="post">
    <input type="submit" value="Back">
</form>

</body>
</html>